<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <title>Gallery</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div class="col-xs-6">
            <div class="thumbnail">
                <a href="/assets/images/rabbits.jpg">
                    <img src="/assets/images/rabbits.jpg" alt="Rooster" style="width:100%">
                    <div class="caption">
                        <p><a href="@routes.BlogController.getAnimals()"> Animals</a></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="/assets/images/veggies.jpg">
                    <img src="/assets/images/veggies.jpg" alt="Veggies" style="width:100%" >
                    <div class="caption">
                        <p><a href="@routes.BlogController.getFromTheGarden()"> From The Garden</a></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="/assets/images/stand4.jpg">
                    <img src="/assets/images/stand4.jpg" alt="Market Stand" style="width:100%" >
                    <div class="caption">
                        <p><a href="@routes.BlogController.getMarket()"> Market Stand</a></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="/assets/images/codygirlsgarden.jpg">
                    <img src="/assets/images/codygirlsgarden.jpg" alt="Around the Farm" style="width:100%" >
                    <div class="caption">
                        <p><a href="@routes.BlogController.getAroundTheFarm()"> Around the Farm </a></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="/assets/images/strawberryrhubarb.jpg">
                    <img src="/assets/images/strawberryrhubarb.jpg" alt="Around the Farm" style="width:100%" >
                    <div class="caption">
                        <p><a href="@routes.BlogController.getJamminJellies()"> Ashley's Jammin' Jellies </a></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>