
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Reiny's Hobby Farm</title>
</head>

<body>
<img src="/assets/images/transparent-copy.png" alt="Rooster" />
<h1>Reiny's Hobby Farm</h1>

<p>Quick Links</p>
<li>Ashley's Jammin' Jellies</a></li>
    <li><a href="@routes.ProductController.getJams()"> Jam</a></li>
    <li><a href="@routes.ProductController.getJellies()"> Jelly</a></li>
    <li><a href="@routes.ProductController.getButters()"> Butter</a></li>
<li>Naturals</li>
    <li><a href="@routes.ProductController.getBeardOils()"> Beard Oil</a></li>
    <li><a href="@routes.ProductController.getBeardBalms()"> Beard Balm</a> </li>
    <li><a href="@routes.ProductController.getSprays()"> Sprays</a></li>
    <li><a href="@routes.ProductController.getRollOns()"> Roll-Ons</a></li>
<li>Sort By</li>
    <li><a href="@routes.ProductController.getInStock()"> In-Stock</a></li>
    <li><a href="@routes.ProductController.getPreOrders()"> Pre-Order Only</a></li>
    <li><a href="@routes.ProductController.getSeasons()"> Season Availability</a></li>
    <li><a href="@routes.ProductController.getVegan()"> Vegan-Friendly Options</a></li>
<li><a href="@routes.HomeController.getOrder()"> Order Now </a></li>
<li><a href="@routes.HomeController.getRequest()"> Request</a></li>
<li><a href="mailto:reinyshobbyfarm@@gmail.com"> Contact</a></li>
<li><a href="@routes.BlogController.getBlog()"> About Us</a></li>
</body>
</html>