@(inventoryCounts : List[InventoryCount], salesChart : List[SalesChart], bestSellers : List[BestSellers])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/lib/chartjs/chart.js"></script>

    <title>Inventory Chart</title>

</head>

<div class="container">


    <div class="row">

        <div class="col-xs-6">
            <center><h2>BEST SELLERS</h2></center>
            <canvas id="bestSellers"></canvas>
        </div>




            <div class="col-xs-6">
                <center><h2>SALES BY YEAR</h2></center>
                <canvas id="salesChart"></canvas>
            </div>

    </div>



<div class="row">
    <div class="col-xs-3"></div>

    <div class="col-xs-6">
        <div id="canvas-holder" style="width:5%">
            <center><h2>INVENTORY BY CATEGORY</h2></center>
            <canvas id="inventoryChart"></canvas>
        </div>
    </div>

</div>
        <script type="text/javascript" src="assets/javascripts/inventorychart.js" id="inventoryChartData"
                data-labels = "@for(i <- 0 to inventoryCounts.size() - 1){@inventoryCounts.get(i).getLabel()@if(i < inventoryCounts.size() - 1){,}}"
                data-data = "@for(i <- 0 to inventoryCounts.size() - 1){@inventoryCounts.get(i).getCount()@if(i < inventoryCounts.size() - 1){,}}"
        ></script>

    <script type="text/javascript" src="assets/javascripts/saleschart.js" id="salesChartData"
            data-labels = "@for(i <- 0 to salesChart.size() - 1){@salesChart.get(i).getLabel()@if(i < salesChart.size() - 1){,}}"
            data-data = "@for(i <- 0 to salesChart.size() - 1){@salesChart.get(i).getCount()@if(i < salesChart.size() - 1){,}}"
    ></script>

    <script type="text/javascript" src="assets/javascripts/bestsellers.js" id="bestSellersChartData"
            data-labels = "@for(i <- 0 to bestSellers.size() - 1){'@bestSellers.get(i).getLabel()'@if(i < bestSellers.size() - 1){,}}"
            data-data = "@for(i <- 0 to bestSellers.size() - 1){@bestSellers.get(i).getCount()@if(i < bestSellers.size() - 1){,}}"
    ></script>
</div>

</body>
</html>