@(inventoryCounts : List[InventoryCount], salesChart : List[SalesChart])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/lib/chartjs/chart.js"></script>

    <title>Inventory Chart</title>

</head>
<body>

<div class="container-fluid">


        <div class="row">
            <div class="col-xs-6">
                <div id="canvas-holder" style="width:40%">
                    <h1>INVENTORY BY CATEGORY</h1>
                    <canvas id="inventoryChart"></canvas>
                </div>
            </div>
                <div class="col-xs-6">
                    <div class="row">


                    </div>
                </div>
            <div class="col-xs-6">
                <h1>SALES BY YEAR</h1>
                <canvas id="salesChart"></canvas>
            </div>
            <div class="col-xs-6">
                <div class="row">

                </div>
            </div>
        </div>


        <script type="text/javascript" src="assets/javascripts/inventorychart.js" id="inventoryChartData"
                data-labels = "@for(i <- 0 to inventoryCounts.size() - 1){@inventoryCounts.get(i).getLabel()@if(i < inventoryCounts.size() - 1){,}}"
                data-data = "@for(i <- 0 to inventoryCounts.size() - 1){@inventoryCounts.get(i).getCount()@if(i < inventoryCounts.size() - 1){,}}"
        ></script>

    <script type="text/javascript" src="assets/javascripts/saleschart.js" id="salesChartData"
            data-labels = "@for(i <- 0 to salesChart.size() - 1){@salesChart.get(i).getLabel()@if(i < salesChart.size() - 1){,}}"
            data-data = "@for(i <- 0 to salesChart.size() - 1){@salesChart.get(i).getCount()@if(i < salesChart.size() - 1){,}}"
    ></script>


</div>

</body>
</html>