@(cartItem : List[CartItem])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <title>Order Summary</title>
</head>
<body>

@for(cartItem <- cartItem){
    @cartItem.getProductName()<br>
    Qty: @cartItem.getQuantity()<br>
    Price: @cartItem.getUnitPrice()<br>
    Total: @cartItem.getTotal()<br>

<br>
}


<form method="GET" action="@routes.HomeController.getHello()">
    <input type="submit" class="btn-info" value="Continue Shopping">
</form>

<td>
    <form method="POST" action="purchase">
        @CSRF.formField
        <input type="submit" class="btn-info" value="Checkout">
    </form>

    <form method="POST" action="emptycart">
        @CSRF.formField
        <input type="submit" class="btn-info" value="Empty Cart">
    </form>
</td>
</body>
</html>