@(products : List[ProductDetail])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <title>Ashley's Jammin' Jellies</title>


</head>
<body>


<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>
                    <div class="container">
                        <a href="@routes.HomeController.getHello()">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="@routes.ProductController.getJamminJellies()">Ashley's Jammin' Jellies</a>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <a href="@routes.ProductController.getNaturals()">RHF Naturals</a>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;


                        &nbsp; &nbsp;
                        <a href="@routes.CustomerController.getLogIn()">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        &nbsp;&nbsp;&nbsp;

                        <a href="@routes.ShopController.getCheckout()">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>

                        &nbsp;&nbsp;&nbsp;

                        <a href="mailto:reinyshobbyfarm@@gmail.com">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </div>
                </h4>
            </div>
        </div>

        <div class="col-xs-2"><a href="@routes.HomeController.getHello()"><img src="/assets/images/transparent-copy.png" alt="Rooster" height="175" /></a>
        </div>
        <div class="col-xs-8">
             <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;Ashley's Jammin' Jellies</h2>

        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <div id="myDIV">

            <form method="POST" action="checkout">
                @CSRF.formField

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>VARIETY</th>
                        <th>SIZE</th>
                        <th>IN-STOCK</th>
                        <th>PRICE</th>
                        <th>ORDER QTY</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(product <- products){
                    <tr>
                        <td><a href="product/@product.getProductId()"> @product.getProductName()</a></td>
                        <td>@product.getSize()</td>

                        <td>  @if(product.getQuantityInStock() <= 0){
                            ☼
                            }else{
                            @product.getQuantityInStock()
                            }

                        </td>
                        <td>@product.getPrice()</td>


                        <td>Qty.
                            <select name="@product.getProductId()">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>

                            </select>
                        </td>

                        }

                    </tr>


                    </tbody>
                </table>


                <div class="col-xs-6"></div>
                ☼ = PREORDER
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                <td><input type="submit" class="btn btn-primary" value="ADD TO CART"></td>

            </form>
        </div>
    </div>
    <div class="col-xs-2">



    </div>


    </div>
</div>




<script type="text/javascript" src="assets/javascripts/search.js" id="search"></script>
</body>
</html>