@(cartItem : List[CartItem])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <title>Order Summary</title>
</head>
<body>

@for(cartItem <- cartItem){
    @cartItem.getProductName()<br>
    Qty: @cartItem.getQuantity()<br>
    Price: @cartItem.getUnitPrice()<br>

<br>
}



<form method="GET" action="@routes.HomeController.getHello()">
    <input type="submit" class="btn-info" value="CONTINUE SHOPPING">
</form>

<td>
    <form method="GET" action="@routes.ShopController.getTotal()">
        @CSRF.formField
        <input type="submit" class="btn-info" value="CHECKOUT">
    </form>

    <form method="POST" action="emptycart">
        @CSRF.formField
        <input type="submit" class="btn-info" value="EMPTY CART">
    </form>
</td>
</body>
</html>