@(products : List[ProductDetail])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <title>Products</title>
</head>
<body>
<div class="container">
    <div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>
                <div class="container">
                    <a href="@routes.HomeController.getHello()">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                    &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@routes.ProductController.getJamminJellies()">Ashley's Jammin' Jellies</a>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="@routes.ProductController.getNaturals()">RHF Naturals</a>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;


                    &nbsp; &nbsp;
                    <a href="@routes.CustomerController.getLogIn()">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                    &nbsp;&nbsp;&nbsp;

                    <a href="@routes.ShopController.getCheckout()">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </a>

                    &nbsp;&nbsp;&nbsp;

                    <a href="mailto:reinyshobbyfarm@@gmail.com">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </div>
            </h4>
        </div>
    </div>
    <div class="col-xs-6">


            <form>
            <table class="table table-striped">
            <thead>
                <th>Variety</th>
            </thead>
            <tbody>
            @for(product <- products){
            <tr>
                <td><a href="product/@product.getProductId()"> @product.getProductName()</a></td>

            </tr>
            }
            </tbody>
            </table>
            </form>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-5">
        <a href="@routes.HomeController.getHello()"><img src="/assets/images/transparent-copy.png" alt="Rooster" height="350" /></a>


    </div>
    </div>
</div>

</body>
</html>