@(product : Product)
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <title>Product</title>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>
                    <div class="container">
                        <a href="@routes.HomeController.getHello()">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="@routes.ProductController.getJamminJellies()">Ashley's Jammin' Jellies</a>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <a href="@routes.ProductController.getNaturals()">RHF Naturals</a>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;


                        &nbsp; &nbsp;
                        <a href="@routes.CustomerController.getLogIn()">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        &nbsp;&nbsp;&nbsp;

                        <a href="@routes.ShopController.getCheckout()">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>

                        &nbsp;&nbsp;&nbsp;

                        <a href="mailto:reinyshobbyfarm@@gmail.com">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </div>
                </h4>
            </div>
        </div>

        <div class="col-xs-1">

        </div>

        <div class="col-xs-4">

                <img src="/productPicture/@product.getProductId()" class="img-rounded" width="500">


        </div>

        <div class="col-xs-2"></div>

        <div class="col-xs-4">

        <h3>@product.getProductName()</h3>
            <h3><strong>$@product.getPrice()</strong></h3>

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#description">Description </a></li>
                <li><a data-toggle="tab" href="#ingredients">Ingredients </a></li>
                <li><a data-toggle="tab" href="#size">Size</a></li>
                <li><a data-toggle="tab" href="#qty">In-Stock</a></li>
            </ul>

            <div class="tab-content">
                <div id="description" class="tab-pane fade in active">
                    <p> @product.getDescription()</p>
                </div>

                <div id="ingredients" class="tab-pane fade">
                    <p>@product.getIngredients()</p>
                </div>

                <div id="size" class="tab-pane fade">
                    <p>@product.getSize()</p>
                </div>

                <div id="qty" class="tab-pane fade">
                    <p>@if(product.getQuantityInStock() <= 0){
                    PREORDER ONLY
                    }else{
                    Instock Quantity: @product.getQuantityInStock()
                    }</p>
                </div>
            </div>

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;


            <form method="POST" action="checkout">
                @CSRF.formField

                <select name="@product.getProductId()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>

                </select>


                <form>
                    <input type="submit" class="btn btn-primary" value="Add To Cart">
                </form>


            </form>

        </div>
        <div class="1">
            <a href="@routes.HomeController.getHello()"><img src="/assets/images/transparent-copy.png" alt="Rooster" height="125" /></a>

        </div>





        </div>




</div>

</body>
</html>