@(product : Product)
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <title>Product</title>
    <a href="@routes.HomeController.getHello()"><img src="/assets/images/transparent-copy.png" alt="Rooster" height="225" /></a>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">




            <h1>@product.getProductName()</h1>
            <h2>Size: @product.getSize()</h2>
            <h2>Price: $@product.getPrice()</h2>

                    @if(product.getQuantityInStock() == 0){
                        <h2>PREORDER ONLY</h2>
                    }else{
                        <h2>Instock Quantity: @product.getQuantityInStock()</h2>
                    }


            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#description">Description</button>
                <div id="description" class="collapse">
                    @product.getDescription()
                </div> <br>

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ingredients">Ingredients</button>
                <div id="ingredients" class="collapse">
                    @product.getIngredients()
                </div> <br>

            <form method="POST" action="checkout">
                @CSRF.formField

                    <select name="@product.getProductId()">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>

                    </select>


                <form>
                    <input type="submit" class="btn-info" value="Add To Cart">
                </form>


            </form>




        </div>

            <div class="col-xs-6">
                <img src="/productPicture/@product.getProductId()" class="img-rounded" width="500">
            </div>

    </div>
</div>

</body>
</html>