@(cartItem : List[CartItem], total : java.math.BigDecimal)
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <title>Order Review</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-5">
               <h2> Review Order!</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>

                <dl>
                    <tbody>
                    <tr>

                @for(cartItem <- cartItem){
                        <td><dt>@cartItem.getProductName()</dt></td>
                        <td><dt>Qty: @cartItem.getQuantity()</dt></td>
                        <td><dt>Price: @cartItem.getUnitPrice()</dt></td>
                    </tr>

                }

                    </tbody>

                </dl>
            </table>

            <div class="col-xs-9"></div>

            <table>
                <tr>
                    <td><dt>&nbsp; Total: @total</dt></td>
                </tr>
            </table>

            <form method="POST" action="@routes.ShopController.postPurchase()">
                @CSRF.formField

                <input type="submit" class="btn btn-success" value="COMPLETE ORDER">
            </form>
        </div>
    </div>
</div>


</body>
</html>