@(cartItem : List[CartItem], total : java.math.BigDecimal)
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <title>Order Review</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
               <h2> Review Order!</h2>

                @for(cartItem <- cartItem){
                @cartItem.getProductName()<br>
                Qty: @cartItem.getQuantity()<br>
                Price: @cartItem.getUnitPrice()<br>

                <br>
                }
                Total: @total
            <br>

            <form method="POST" action="@routes.ShopController.postPurchase()">
                @CSRF.formField

                <input type="submit" class="btn-info" value="PROCEED TO CHECKOUT">
            </form>
        </div>
    </div>
</div>


</body>
</html>